body { margin-top: 0px;
width: 100%; 
text-align: center;
padding-top: 0px;
margin:0px; }
#centerContainer { width: 900px; text-align: left; margin: 0px auto; }
p{
font-family: "Verdana", Times, serif;
text-align: left;
padding-top:10px;
padding-bottom:10px;

}

h1{
font-family: "Verdana";
font-size: 2.5em;
letter-spacing: 1.8px;
margin-bottom:30px;
margin-top: 30px;
color: #387A38;

}


.pagelink{
border-style:solid;
padding: 2px 10px 2px 10px;
background-color: #99FF66;
border-width: 1px;
font-size: 1.4em;
font-family: "Verdana";
color: inherit; 
text-decoration: inherit; 
margin-right: 0px;
display:inline;
margin-bottom: 0px;
margin-top:25px;
font-weight: 600;
border-radius: 5px 5px 2px 2px;
}
#headerPan{
width: 1000px;
background-color: #CAEC9D;
padding-left: 62.25px;
padding-right: 62.25px;
margin-left: auto;
margin-right: auto;

border-width: 1px;
border-style: solid;
text-align: left;
height: 180px;
}
#closebanner{
 
    background:#EEEADD;
    margin:10px auto 0;
    border-radius: 17px;
	position: fixed;
	width: 900px;
	background-color: #E0ECC0;

}
#photoframe1{
width: 45%;
height: 800px;
float: right;
margin-right:10px;}

#contentPan{
width: 1125px;
padding: 25px 0px 50px 0px;
margin-left: auto;
margin-right: auto;
background-color:#E0ECC0;
height:100%;
padding-bottom: 100px;
}
#content{
width:50%;
padding-right: 25px;
padding-left:25px;
}
.headline{
margin-bottom: 25px;
margin-top: 25px;
text-align: centre;
font-weight: bold; 
letter-spacing: 2px;
font-family: verdana;
font-size: 1.5em;
}
.RightHeader{
float: right;
height: 100%;
text-align: left;
}
h2{
font-size: 1.2em;
text-align: centre;
font-family: "verdana"; 
}
.logo{
padding:0px;
margin:0px;
width: 150px;
height:166px;
}
li{
text-align: left;
letter-spacing: 1.2px;
font-family: "Verdana"; 
}
.info{
margin-top: 150px;
}
.maintext{
background-color: #D1FFD1;
padding: 5px;
border-style: solid;
border-width: 1px;
font-weight: 600;
color:#373737;
}